<div class="container">
    <form class="form" >
        <h4 class="h">Create Test</h4>
<div ><br>
    <input type="text" placeholder="select Patient" class="a">
</div><br>
    <input type="checkbox"  id="b"  >
    <label   for="customCheck1" id="b">Heamatology</label>
  <br>
    <input type="checkbox"   id="b" click="gl()"   >
    <label   for="customCheck1" id="b" >Glucometry</label>
  <br>
    <input type="checkbox"   id="b"    >
    <label  for="customCheck1" id="b" >Thyroid Profile</label>
  <br>
  <div>
    
      <button type="submit" class="submit">submit</button>
  </div>
  
  </form>
  </div>