<input type="text" placeholder="enter the name to search" class="search">
<table class="table">
    <thead class="table-dark">
     <tr>
         <td>Sample Date</td>
         <td>Name</td>
         <td>Email ID</td>
        <td>Status</td>
     </tr>
    </thead>
    <tbody>
      <tr>
          <td>Jan 1,2019,2:33:48 PM</td>
          <td>Mythri</td>
          <td>mythrikm9011@gmail.com</td>
          <td><button class="btn btn-success">View Details</button></td>
      </tr>
      <tr>
        <td>July 2,2019,2:33:48 PM</td>
        <td>Chandu</td>
        <td>chanduk@gmail.com</td>
        <td><button class="btn btn-success">View Details</button></td>
    </tr>
    </tbody>
  </table>