.edit{
    border: 2px solid black;
    width: 350px;
    margin-top: 200px;
    margin-left: 500px;
    padding: 40px;
    border-radius: 20px;
    background-color:  rgb(216, 216, 184);
    
}
 
.button{
    background-color: blue;
     padding: 5px;
     width: 60px;
     color: white;
     border-radius: 10px;
     margin-left: 200px;
}
.inptex{
    margin-left: 20px;
}
.inp{
    margin-left: 10px;
}
.edt{
    color: brown;
    margin-left: 50px;
    margin-top: -20px;
}
 
